version: "3.3"
services:
  database:
    image: mysql:8.0
    container_name: mysql-gamearena
    restart: always
    environment:
      MYSQL_DATABASE: "gamearena"
      MYSQL_USER: "docker"
      MYSQL_PASSWORD: "docker"
      MYSQL_ROOT_PASSWORD: "root"
    ports:
      - "3306:3306"
    expose:
      - "3306"
    volumes:
      - "./.mysql-data/db:/var/lib/mysql"
